.category-box {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
}

.category-box h3 {
  color: #333;
  padding-left: 20px;
}

.category-box ul {
  padding-left: 20px;
}

.category-box ul li {
  margin-bottom: 5px;
}

.category-box li {
display: flex;
}

@media (min-width: 1025px) {
  .category-box {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  .generate-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}