.page {
  margin-top: 10px;
  background-color: #000000;
}

.scrolling-text-container {
  background-color: #ffffff;
  border-bottom: solid 2px black;
  overflow: hidden;
}

.scrolling-text {
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

.under-scroll {
  border-top: solid 2px black;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.art-map {
  position: relative;
  margin: 20px 0;
}

.overlay-text {
  position: absolute;
  text-decoration: underline 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

.recent-messages-container {
  padding: 1rem;
  background-color: #000000;
}

.recent-msg-tablet {
  display: none;
}

.recent-messages-container h2 {
  margin-bottom: 1rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 100px;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2px;
}

.recent-message {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0.5rem;
}

.recent-message-user {
  margin-right: 0.5rem;
  color: #ffffff;
}

.recent-message-text {
  display: inline;
  color: #ffffff;
}

.recent-message-image {
  display: block;
  max-width: 100px;
  margin-top: 0.5rem;
  color: #ffffff;
}

.recent-message-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  color: #ffffff;
}

@media (min-width:760px) and (max-width: 1024px) {
  .page {
    margin: 60px 100px;
  }

  .under-scroll {
    display: none;
  }

  .tablet-container {
    display: flex;
    justify-content: center;
    margin: 120px 40px;
    gap: 40px;
  }

  .art-map-container,
  .recent-messages-container {
    box-sizing: border-box;
    width: 50%;
  }

  .recent-msg-tablet {
    display: block;
    color: #ffffff;
    text-decoration: underline;
  }

  .art-map {
    display: flex;
    margin: 0;
  }

  .art-map a {
    width: 100%;
    height: 400px;
  }

  .homemap-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1025px) {
  .home-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
  }

  .page{
    margin: 0;
  }

  .home-desktop {
    flex-basis: calc(66.666% - 40px);
    height: 800px;
  }

  .tablet-container {
    display: flex;
    flex-direction: column-reverse;
    background-color: #ccc;
    padding: 20px;
    flex-basis: calc(31.111% - 30px);
    margin-right: 20px;
    height: 800px;
    z-index: 1;
  }

  .under-scroll {
    display: none;
  }

  .art-map {
    display: flex;
    margin-bottom: 0;
  }

  .homemap-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .art-map a {
    width: 100%;
    height: 400px;
  }

  .recent-messages-container {
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .recent-msg-tablet {
    display: block;
    color: #ffffff;
    text-decoration: underline 2px;
    text-align: center;
    padding-bottom: 10px;
  }

  .scrolling-text-container {
    display: flex;
    align-items: flex-end;
    height: 140px;
    border-bottom: none;
  }
}