.sidebar {
  background-color: #f9f9f9;
  padding-top: 20px;
  border-right: 1px solid #ccc;
  z-index: 1;
  width: 60px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 25px 15px;
  display: flex;
  justify-content: center;
}




@media (min-width:760px) and (max-width: 1024px) {
  .sidebar li {
    padding: 45px 25px;
  }

  .sidebar a i {
    font-size: 25px;
  }
}